.left_col{background:#ed1b24;}
.site_title{background: #EDEDED}
.nav_title{height:auto !important;border-botton:1px solid #D9DEE4 !important;}
.nav.side-menu > li.active > a{background: #444 !important}
.nav.side-menu > li.current-page, .nav.side-menu > li.active{border:0 !important;}
.nav-md ul.nav.child_menu li:before{background: #fff}
.nav-md ul.nav.child_menu li:after{border-left: 1px solid #fff}